<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <meta property="twitter:title" content="Twitter link preview title">-->
<!--    <meta property="twitter:card" content="summary_large_image">-->
<!--    <meta property="twitter:title" content="Twitter link preview title">-->
<!--    <meta property="twitter:description" content="Twitter link preview description">-->
    <title>Unity English Secondary School</title>
<!--    <meta property="description" content="Search engine description" />-->
<!--    <meta property="og:image" content="Link preview image URL">-->
<!--    <meta property="og:title" content="Link preview title">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
<!--    <meta property="og:url" content="Canonical link preview URL">-->
<!--    <meta property="og:description" content="Link preview description" />-->
    <!--
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/tooplate-simply-amazed.css" type="text/css" />
-->
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/slick.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tooplate-simply-amazed.css') }}">

</head>

<body>


    <div id="outer">
        <header class="header order-last" id="tm-header">
            <nav class="navbar">
                <div class="collapse navbar-collapse single-page-nav">


                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#section-1"><span class="icn"><i class="fas fa-2x fa-air-freshener"></i></span>Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-2"><span class="icn"><i class="fab fa-2x fa-battle-net"></i></span>Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-3"><span class="icn"><i class="far fa-2x fa-images"></i></span> Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-4"><span class="icn"><i class="far fa-2x fa-comments"></i></span> Contact</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </header>

        <button class="navbar-button collapsed" type="button">
            <span class="menu_icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>

        </button>


        <main id="content-box" class="order-first">
            <div class="banner-section section parallax-window" data-parallax="scroll" data-image-src="img/section-1-bg.jpg" id="section-1">
                <div class="container">
                    <div class="item">
                        <div class="bg-blue-transparent logo-fa"><span><i class="fas fa-2x fa-atom"></i></span>Welcome To Our School <br>ST.XAVIER'S VIDHYA MANDIR</div>
                        <div class="bg-blue-transparent simple"><p> Mission !<p>We don’t just give students an education and experiences that set them up for success in a career. We help them succeed in their career—to discover a field they’re passionate about and dare to lead it.</p></div>
                    </div>
                </div>
            </div>

            <section class="work-section section" id="section-2">
                <div class="container">
                    <div class="row">
                        <div class="item col-md-4">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fas fa-2x fa-icons"></i></div>
                                <h3>Message From Principle</h3>
                                <img src="../static/img/principle.png" alt="Image">
                                <p>Welcome to MGBS, a learning organization that thrives always to learn the best practices in local and global context and keep transforming itself as a whole institution!
                                    MGBS is the institution that believes in providing opportunities and environment for children to aspire for high achievement with practice of values. MGBS Team is well aware of the fact that every individual child has innate potential that has to be identified and nurtured in time. Therefore, it is well prepared to encourage every student’s insightful learning with confidence and skills.</p>
                            </div>
                        </div>
                        <div class="item col-md-4 one">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fas fa-2x fa-tools"></i></div>
                                <h3>Objectives</h3>
                                <p> 1.To provide quality education at reasonable fee structure<br>
                                    2.To encourage the students to identify their inner potentialities<br>
                                    3.To prepare the students to meet the challenges of related fields rationally<br>
                                    4.To enhance practical knowledge and skill of the students<br>
                                    5. To build up students confidence in facing all kinds of national as well as international exams of their levels<br>
                                    6. To facilitate pleasant and suitable learning environment<br>
                                    7. To make the students familiar with the modern technology to cope up with the globalized.<br>
                                    8. To produce and provide medium level human resources</p>
                            </div>
                        </div>
                        <div class="item col-md-4 two">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fab fa-2x fa-phoenix-framework"></i></div>
                                <h3>Salient Features</h3>
                                <p>1. Morning to Day Shift Classes<br>
                                    2. Nepali and English Medium of teaching<br>
                                    3. Well-equipped science laboratories and Library<br>
                                    4. Managed and run by highly qualified and experienced and trained  teachers<br>
                                    5. Emphasis on games and sports cultural activities, educational tours  and exposures<br>
                                    6.Psychological and career counseling for the students<br>
                                    7. Access to graduate  on technical Education                                     Special computer classes  with Well-equipped Computer Labs<br>
                                    8. Audio-visuals classes with multimedia projectors<br>
                                    9. Peaceful and healthy Learning environment<br>
                                    10. Regular evaluation system of internal exams and feedback sharing<br>
                                    11. Reward  for intelligent, disciplined and punctual  <br>
                                    12.Scholarship  scheme for intelligent and deprived students<br>
                                    13.Opportunity to join any faculty and subjects according to the  student’s choice and  their ability.</p>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <h2>Our Work</h2>
                    </div>
                </div>
            </section>

            <section class="gallery-section section parallax-window" data-parallax="scroll" data-image-src="img/section-3-bg.jpg" id="section-3">
                <div class="container">
                    <div class="title text-right">
                        <h2>Our Gallery</h2>
                    </div>
                    <div class="mx-auto gallery-slider">
                        <figure class="effect-julia item">
                            <img src="../static/img/1.png" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Great time 1</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="../static/img/2.png" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Great time 2</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="../static/img/3.png" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Great time 3</p>
                                </div>
                                <a href="#">View more</a>
                            </figcaption>
                        </figure>
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-04.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 3</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-05.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 4</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-06.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 5</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-07.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 6</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-08.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 7</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                        <figure class="effect-julia item">-->
<!--                            <img src="../static/img/gallery-img-09.jpg" alt="Image">-->
<!--                            <figcaption>-->
<!--                                <div>-->
<!--                                    <p>Great time 8</p>-->
<!--                                </div>-->
<!--                                <a href="#">View more</a>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
                    </div>
                </div>
            </section>

            <section class="contact-section section" id="section-4">
                <div class="container">
                    <div class="title">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 mb-4 contact-form">
                            <div class="form tm-contact-item-inner">

                                <form action="/submit" method="POST">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input name="email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="textarea form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="submit" class="btn btn-primary" value="Send it">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 contact-details">
                            <div class="tm-contact-item-inner-2">
                                <p>if you have any query don't hesitate to contact us Address Charikot Dolakha 049421161 info@saracomputer.com.np</p>
                                <div >
                          <a  href="https://nervous-carson-f39e40.netlify.app/login" target="_self">login</a>
                 </div>
                 <div >
                          <a  href="https://sara-school.netlify.app/" target="_self">LMS login</a>
                 </div>

                                <ul class="font-weight-light">
                                    <li>
                                        <span class="icn"><i class="fas fa-mobile-alt"></i></span>
                                        <span class="lbl">Tel:</span> <a href="#">010-020-0340</a>
                                    </li>
                                    <li>
                                        <span class="icn"><i class="fas fa-at"></i></span>
                                        <span class="lbl">Email:</span> <a href="#">info@company.com</a>
                                    </li>
                                    <li>
                                        <span class="icn"><i class="fas fa-globe-asia"></i></span>
                                        <span class="lbl">URL:</span> <a href="#">www.company.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 map">
                            <!-- Map -->
                            <div class="map-outer tm-mb-40">
                                <div class="gmap-canvas">
                                  <!--  <iframe width="100%" height="400" id="gmap-canvas"

                                       src="https://googl/maps/BErhX3qHZKgzw4jH9"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
                                     <iframe
                                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.981193705455!2d85.3093030760144!3d27.71786692502638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18e2c46adb17%3A0x52e5001834e11d58!2sSARA%20COMPUTER%20SERVICE%20P.%20LTD!5e0!3m2!1sen!2snp!4v1685769651375!5m2!1sen!2snp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer container container-2">
                    <div class="row">
                        <p class="col-sm-7">Copyright 2021 School Name</p>
                        <p class="col-sm-5 text-right design">Supported By: <a rel="nofollow" href="https://www.saracomputer.com.np/" target="_parent">Sara Software</a></p>
                    </div>
                </footer>
            </section>
        </main>
    </div>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.singlePageNav.min.js"></script>
    <script src="../static/js/slick.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>

</body>
</html>