<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My School</title>
    <title rel="stylesheet" href="../static/style.css"></title>
    <title>"Welcome To My School"</title>
</head>
<body>
    <div class="container"></div>
        <img src="../static/logo/png" alt="Lexus" class="logo">
    <!-- @todo-->
        <h1>Thank you for rating your experience.We hope to see you soon!</h1>

        </form>

</body>
</html>